@font-face {
    font-family: 'Inter-ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Inter-ExtraLight.ttf');
}

@font-face {
    font-family: 'Inter-Light';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Inter-Light.ttf');
}

@font-face {
    font-family: 'Inter-Thin';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Inter-Thin.ttf');
}

@font-face {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
    font-family: 'Inter-Medium';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Inter-Medium.ttf');
}

@font-face {
    font-family: 'Inter-SemiBold';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Inter-SemiBold.ttf');
}

@font-face {
    font-family: 'Inter-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Inter-Bold.ttf');
}

@font-face {
    font-family: 'Poppins-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins-Bold';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Poppins-Bold.ttf');
}

select {
    width: 100%;
    margin-left: 14px;
    font-size: 16px;
    font-family: "Poppins-SemiBold";
    color: #70717B;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("../../assets/images/icons/dropdownArrow.png");
    background-repeat: no-repeat;
    background-position: 100%;
    outline: none;
    cursor: pointer;

}

/* *    Home page MAIN div  */
.homeMain {
    background-image: url("../../assets/images/home/home1.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
    padding: 173px 287px;
}

.topBanner {
    background-image: url("../../assets/images/icons/cardBanner.png");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    /* top: -10px; */

}

.winnerTickerNumber {
    background-image: url("../../assets/images/icons/cardTicketNumber.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 11px 27px;
}